@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200;600;800&family=Montserrat:wght@400;500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700;900&family=Montserrat+Alternates:wght@200;600;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 1200px;
    height: 920px;
    margin: 0 auto;
}

.textoprincipal{
    width: 581px;
    padding-top: 30px;
}

h2{
    font-family: "Montserrat Alternates";
    font-weight: 600;
}

.orange{
    color: #E76F51;
}

.body-principal{
    display: flex;
    flex-direction: row;
    padding-top: 30px;
}

.login{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.image-principal img{
    width: 500px;
}


input{
   border-top: none;
   border-left: none;
   border-right: none;
   border-bottom: 1px solid black;
   margin-bottom: 30px;
   width: 400px;
   font-family: "Montserrat";
   font-size: 20px;
}

input:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
}

#btn-loginPrincipal{
    width: 80px;
    height: 30px;
    color: rgb(8, 8, 8);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 700;
    background-color: #21CE47;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    
}

#btn-loginPrincipal:hover{
    background-color: #E76F51;
    transition: all 0.2s;
}


.input-sexo{
    display: flex;
    width: 500px;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.input-city{
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    color: black;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.input-pais option{
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    color: black;
}

.input-estado option{
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    color: black;
}

#estado {
    border: none;
    position: absolute;
    left: 550px;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    color: black;
}

#pais {
    border: none;
    position: absolute;
    left: 550px;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    color: black;
}

#cidade{
    border: none;
    position: absolute;
    left: 550px;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    color: black;
}

.input-pais label{
    padding-bottom: 30px;
}

.input-cidade, .input-estado, .input-pais{
    margin-top: 50px;
}

.imagemdePerfil{
    display: flex;
    flex-direction: column;
}

.imagemdePerfil label{
    background-color: #83F6F6;
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
    width: 270px;
    height: 40px;
}

.imagemdePerfil label:hover{
    background-color: #E76F51;
    color: white;
    font-weight: 700;
    transition: all 0.2s;
}

button{
    width: 150px;
    height: 40px;
   
    border: none;
    background-color: #21CE47;
    border-radius: 40px;

}

button a{
    text-decoration: none;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    color: black;
}

button:hover{
    background-color: #E76F51;
    color: white;
    font-weight: 700;
    transition: all 0.2s;
}

a:hover{
    background-color: #E76F51;
    color: white;
    font-weight: 700;
    transition: all 0.2s;
}

